{% load static %}
<header class="nv-topnav-container">
<div class="nv-topnav vd-topbar" data-testid="TopbarContent">
  <div class="nv-topnav-header vd-nav-item" data-testid="TopbarContentItem"><a class="vd-logo-container"
      href="#" aria-label="Home"><img alt="EverythingSafety logo"
        src="{% static 'images/eslogo.jpeg' %}"
        class="vd-logo" width="120px"></a></div>
  <div class="nv-topnav-header nv-topnav-header--mobile vd-nav-item" data-testid="MenuButton">
    <div class="vd-nav-item"><a class="vd-nav-item-action" data-dd-privacy="allow" data-test="menu-button"
        href="#"><i class="fa fa-bars vd-icon vd-nav-item-icon"></i>
        <div class="vd-nav-item-label">Menu</div>
      </a></div>
  </div>
  <div class="nv-topnav-content">
    <div class="vd-nav-item"><a class="vd-nav-item-action" data-dd-privacy="allow" href="#" id="nav-help-link">
        <div class="vd-nav-item-label">Help</div>
      </a></div>
    <div class="vd-nav-item"><a class="vd-nav-item-action" data-dd-privacy="allow"
        data-test="notifications-nav-item" href="#" aria-label="View notifications"><i
          class="fa fa-bell vd-icon vd-nav-item-icon"></i></a></div>
    <div class="vd-nav-item"><a class="vd-nav-item-action" data-dd-privacy="mask" data-test="user-nav-item"
        href="#" id="user">
        <div class="vd-nav-item-label">David Holland</div>
      </a></div>
  </div>
</div>
</header>