<nav class="nv-sidenav vd-sidebar" role="navigation" aria-label="Main Navigation">
<div class="vd-sidebar-content nv-sidenav-content" data-testid="sideBarContent">
  <div class="vd-sidebar-tabs vd-sidebar-tabs--expanded">
    <div class="vd-nav-item vd-nav-item--active vd-nav-item--no-children" data-testid="SidebarNavItem"><a
        class="vd-nav-item-action" href="/dashboards" title="Home" data-testid="SidebarNavItemAction"><i
          class="vd-i vd-i-x-home vd-icon vd-nav-item-icon"></i>
        <div class="vd-nav-item-label" data-testid="SidebarNavItemLabel">Home</div>
      </a></div>
    <div class="vd-nav-divider"></div>
    <div class="vd-nav-item" data-testid="SidebarNavItem"><a class="vd-nav-item-action" href="/webregister/"
        title="Sell" data-testid="SidebarNavItemAction"><i class="vd-i vd-i-x-sell vd-icon vd-nav-item-icon"></i>
        <div class="vd-nav-item-label" data-testid="SidebarNavItemLabel">Sell</div>
      </a></div>
    <div class="vd-nav-divider"></div>
    <div class="vd-nav-item" data-testid="SidebarNavItem"><a class="vd-nav-item-action" href="/reporting"
        title="Reporting" data-testid="SidebarNavItemAction"><i
          class="vd-i vd-i-x-reporting-v2 vd-icon vd-nav-item-icon"></i>
        <div class="vd-nav-item-label" data-testid="SidebarNavItemLabel">Reporting</div>
      </a></div>
    <div class="vd-nav-item" data-testid="SidebarNavItem"><a class="vd-nav-item-action" href="/products"
        title="Catalog" data-testid="SidebarNavItemAction"><i
          class="vd-i vd-i-x-catalog vd-icon vd-nav-item-icon"></i>
        <div class="vd-nav-item-label" data-testid="SidebarNavItemLabel">Catalog</div>
      </a></div>
    <div class="vd-nav-item" data-testid="SidebarNavItem"><a class="vd-nav-item-action" href="/inventory"
        title="Inventory" data-testid="SidebarNavItemAction"><i
          class="vd-i vd-i-x-inventory vd-icon vd-nav-item-icon"></i>
        <div class="vd-nav-item-label" data-testid="SidebarNavItemLabel">Inventory</div>
      </a></div>
    <div class="vd-nav-item" data-testid="SidebarNavItem"><a class="vd-nav-item-action" href="/customers"
        title="Customers" data-testid="SidebarNavItemAction"><i
          class="vd-i vd-i-x-customers vd-icon vd-nav-item-icon"></i>
        <div class="vd-nav-item-label" data-testid="SidebarNavItemLabel">Customers</div>
      </a></div>
    <div class="vd-nav-item" data-testid="SidebarNavItem"><a class="vd-nav-item-action" href="/setup"
        title="Setup" data-testid="SidebarNavItemAction"><i
          class="vd-i vd-i-x-settings-v2 vd-icon vd-nav-item-icon"></i>
        <div class="vd-nav-item-label" data-testid="SidebarNavItemLabel">Setup</div>
      </a></div>
    <div style="flex: 1 1 0%;"></div>
  </div>
</div>
<div class="vd-dialog-close vd-sidebar-modal-close nv-sidenav-modal-close"><button class="vd-dialog-close-button"
    type="button"><i class="vd-i vd-i-times vd-icon vd-dialog-close-icon"></i><span
      class="vd-dialog-close-label">ESC</span></button></div>
</nav>
