@font-face {
    font-family: czi;
    font-style: normal;
    font-weight: 400;
    src: url(../css/fonts/czi-1.woff) format("woff"), url(../css/fonts/czi-1.ttf) format("truetype"), url(../css/fonts/czi-1.svg#czi) format("svg")
}

#cz_checklist_launcher_container .cz-independent-frame.checklist-panel {
    position: fixed !important;
    width: 350px !important
}

#cz_checklist_launcher_container .cz-independent-frame.checklist-panel,
#cz_checklist_launcher_container .cz-independent-frame.checklist-panel+#cz_checklist_launcher_container .cz-independent-frame.checklist-panel-arrow {
    opacity: 0 !important;
    visibility: hidden !important
}

#cz_checklist_launcher_container .cz-independent-frame.checklist-panel.in,
#cz_checklist_launcher_container .cz-independent-frame.checklist-panel.in+#cz_checklist_launcher_container .cz-independent-frame.checklist-panel-arrow {
    opacity: 1 !important;
    visibility: visible !important
}

#cz_success_center_container {
    z-index: 999999 !important
}

#cz_success_center_container #cz_success_center_launcher_frame {
    height: 60px !important;
    width: 60px !important
}

#cz_success_center_container #cz_success_center_preload_close_icon {
    color: #555;
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1
}

#cz_success_center_container #cz_success_center_alert_flyout_frame {
    background-color: transparent !important;
    border: 0 !important;
    bottom: 11px !important;
    box-shadow: none !important;
    height: 38px !important;
    outline: 0 none !important;
    position: absolute !important;
    top: auto !important;
    width: 250px !important;
    z-index: 999999 !important
}

#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-bottom-center.float,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-bottom-center.tabbed,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-top-center.float,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-top-center.tabbed {
    left: 40px !important;
    right: auto !important
}

#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-bottom-right.float,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-bottom-right.tabbed,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-right-center.float,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-right-center.tabbed,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-top-right.float,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-top-right.tabbed {
    left: auto !important;
    right: 40px !important
}

#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-bottom-left.float,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-bottom-left.tabbed,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-left-center.float,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-left-center.tabbed,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-top-left.float,
#cz_success_center_container #cz_success_center_alert_flyout_frame.pos-top-left.tabbed {
    left: 40px !important;
    right: auto !important
}

#cz_success_center_container .success-center-panel-frame-container {
    background-color: #fff !important;
    border: 0 !important;
    height: 100vh !important;
    max-width: 100% !important;
    outline: 0 none !important;
    position: fixed !important;
    top: 0 !important;
    transition: left .6s ease-in-out, right .6s ease-in-out !important;
    z-index: 999999 !important
}

#cz_success_center_container .success-center-panel-frame-container.pos-left {
    border-right: 1px solid #ededed !important;
    left: 0 !important;
    right: auto !important
}

#cz_success_center_container .success-center-panel-frame-container.pos-right {
    border-left: 1px solid #ededed !important;
    left: auto !important;
    right: 0 !important
}

#cz_success_center_container .success-center-panel-frame-container .sc-panel-frame-loader-container {
    background-color: #fff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity .25s, visibility .25s;
    width: 100%
}

#cz_success_center_container .success-center-panel-frame-container.ready .sc-panel-frame-loader-container {
    opacity: 0;
    pointer-events: none;
    visibility: hidden
}

#cz_success_center_container .success-center-panel-frame-container .sc-panel-frame-loader {
    font-size: 22px;
    font-weight: 700;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0)
}

@media print {
    #cz_success_center_container .success-center-panel-frame-container.cz-sc-closed {
        display: none !important
    }
}

#cz_success_center_container #cz_success_center_frame {
    border: 0 !important;
    height: 100%;
    outline: 0 none !important;
    width: 100%
}

#cz_devless_container {
    z-index: 999999 !important
}

#cz_devless_container #cz_devless_launcher_frame {
    height: 60px !important;
    margin: 0 !important;
    width: 60px !important
}

.cz-independent-frame-container {
    display: flex !important;
    flex-direction: column !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    visibility: hidden !important;
    z-index: 999998 !important
}

.cz-independent-frame-container.in {
    visibility: visible !important
}

.cz-independent-frame-container .tabbed {
    background-color: #fff !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5) !important;
    height: 60px !important;
    width: 60px !important
}

.cz-independent-frame-container .float {
    height: 50px !important;
    width: 50px !important
}

.cz-independent-frame-container.pos-bottom-center,
.cz-independent-frame-container.pos-top-center {
    flex-direction: row !important
}

.cz-independent-frame-container.pos-top-left {
    bottom: auto !important;
    left: 0 !important;
    right: auto !important;
    top: 20px !important
}

.cz-independent-frame-container.pos-top-left.float {
    left: 18px !important
}

.cz-independent-frame-container.pos-top-center {
    bottom: auto !important;
    left: 50% !important;
    right: auto !important;
    top: 0 !important
}

.cz-independent-frame-container.pos-top-center.float {
    top: 25px !important
}

.cz-independent-frame-container.pos-top-center .launcher,
.cz-independent-frame-container.pos-top-center.launcher {
    transform: translate3d(-50%, 0, 0) !important
}

.cz-independent-frame-container.pos-top-right {
    bottom: auto !important;
    left: auto !important;
    right: 0 !important;
    top: 20px !important
}

.cz-independent-frame-container.pos-top-right.float {
    right: 18px !important
}

.cz-independent-frame-container.pos-left-center {
    bottom: auto !important;
    left: 0 !important;
    right: auto !important;
    top: 50% !important
}

.cz-independent-frame-container.pos-left-center.float {
    left: 18px !important
}

.cz-independent-frame-container.pos-left-center .launcher,
.cz-independent-frame-container.pos-left-center.launcher {
    transform: translate3d(0, -50%, 0) !important
}

.cz-independent-frame-container.pos-right-center {
    bottom: auto !important;
    left: auto !important;
    right: 0 !important;
    top: 50% !important
}

.cz-independent-frame-container.pos-right-center.float {
    right: 18px !important
}

.cz-independent-frame-container.pos-right-center .launcher,
.cz-independent-frame-container.pos-right-center.launcher {
    transform: translate3d(0, -50%, 0) !important
}

.cz-independent-frame-container.pos-bottom-left {
    bottom: 20px !important;
    left: 0 !important;
    right: auto !important;
    top: auto !important
}

.cz-independent-frame-container.pos-bottom-left.float {
    left: 18px !important
}

.cz-independent-frame-container.pos-bottom-center {
    bottom: 0 !important;
    left: 50% !important;
    right: auto !important;
    top: auto !important
}

.cz-independent-frame-container.pos-bottom-center.float {
    bottom: 25px !important
}

.cz-independent-frame-container.pos-bottom-center .launcher,
.cz-independent-frame-container.pos-bottom-center.launcher {
    transform: translate3d(-50%, 0, 0) !important
}

.cz-independent-frame-container.pos-bottom-right {
    bottom: 20px !important;
    left: auto !important;
    right: 0 !important;
    top: auto !important
}

.cz-independent-frame-container.pos-bottom-right.float {
    right: 18px !important
}

.cz-independent-frame-container.no-transforms .launcher {
    transform: none !important
}

.cz-independent-frame {
    border-width: 0 !important;
    outline: 0 none !important;
    z-index: 999998 !important
}

.cz-independent-frame.launcher {
    border-color: gray !important
}

.cz-independent-frame.launcher.pos-bottom-left,
.cz-independent-frame.launcher.pos-bottom-right,
.cz-independent-frame.launcher.pos-left-center,
.cz-independent-frame.launcher.pos-right-center,
.cz-independent-frame.launcher.pos-top-left,
.cz-independent-frame.launcher.pos-top-right {
    margin-bottom: 10px !important
}

.cz-independent-frame.launcher.pos-bottom-left.last,
.cz-independent-frame.launcher.pos-bottom-right.last,
.cz-independent-frame.launcher.pos-left-center.last,
.cz-independent-frame.launcher.pos-right-center.last,
.cz-independent-frame.launcher.pos-top-left.last,
.cz-independent-frame.launcher.pos-top-right.last {
    margin-bottom: 0 !important
}

.cz-independent-frame.launcher.pos-bottom-center,
.cz-independent-frame.launcher.pos-top-center {
    margin-right: 10px !important
}

.cz-independent-frame.launcher.pos-top-left.float {
    left: 18px !important
}

.cz-independent-frame.launcher.pos-top-left.tabbed {
    border-bottom-right-radius: 10px !important;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
    border-top-right-radius: 10px !important;
    border-top-width: 1px !important
}

.cz-independent-frame.launcher.pos-top-center.float {
    top: 25px !important
}

.cz-independent-frame.launcher.pos-top-center.tabbed {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important
}

.cz-independent-frame.launcher.pos-top-right.float {
    right: 18px !important
}

.cz-independent-frame.launcher.pos-top-right.tabbed {
    border-bottom-left-radius: 10px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-top-left-radius: 10px !important;
    border-top-width: 1px !important
}

.cz-independent-frame.launcher.pos-left-center.float {
    left: 18px !important
}

.cz-independent-frame.launcher.pos-left-center.tabbed {
    border-bottom-right-radius: 10px !important;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
    border-top-right-radius: 10px !important;
    border-top-width: 1px !important
}

.cz-independent-frame.launcher.pos-right-center.float {
    right: 18px !important
}

.cz-independent-frame.launcher.pos-right-center.tabbed {
    border-bottom-left-radius: 10px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-top-left-radius: 10px !important;
    border-top-width: 1px !important
}

.cz-independent-frame.launcher.pos-bottom-left.float {
    left: 18px !important
}

.cz-independent-frame.launcher.pos-bottom-left.tabbed {
    border-bottom-right-radius: 10px !important;
    border-bottom-width: 1px !important;
    border-right-width: 1px !important;
    border-top-right-radius: 10px !important;
    border-top-width: 1px !important
}

.cz-independent-frame.launcher.pos-bottom-center.float {
    bottom: 25px !important
}

.cz-independent-frame.launcher.pos-bottom-center.tabbed {
    border-left-width: 1px !important;
    border-right-width: 1px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-top-width: 1px !important
}

.cz-independent-frame.launcher.pos-bottom-right.float {
    right: 18px !important
}

.cz-independent-frame.launcher.pos-bottom-right.tabbed {
    border-bottom-left-radius: 10px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-top-left-radius: 10px !important;
    border-top-width: 1px !important
}

.cz-invisible {
    opacity: 0 !important;
    visibility: hidden !important
}